@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.containerApp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    color: rgb(97, 97, 97);
    font-size: 25px;
}